$ff-quote: 'Cinzel', serif;
$ff-logo: 'Permanent Marker', cursive;
$ff-main: 'News Cycle', sans-serif;

$color-main: #f7f4f4;
$color-accent: #00C787;
$color-danger: #cc0f0f;
$color-disabled: #dfdfdf;
$color-main-reverse: #333030;
$color-input-border: #858585;
$bg-main: #131313;
$bg-modal: #262424;

$border-radius-main: 10px;
$letter-spacing-main: 0.05em;