@import '../../../utils/vars/vars.scss';

.edit-profile {
    padding: 0 25px;

    &__header {
        margin-bottom: 15px;
    }

    &__headline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__body {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    &__tab-link {
        color: $color-main;
        padding: 20px 40px;
        transition: background .3s ease;

        &:hover,
        &:focus,
        &.active {
            background: darken($color: $color-main-reverse, $amount: 5);

            .edit-profile__tab-link-icon {
                fill: $color-accent;
            }
        }
    }

    &__tab-link-icon {
        width: 30px;
        height: 30px;
        fill: $color-main;
        transition: fill .3s ease;
    }
}

.edit-profile-form {
    padding: 40px;
    background: darken($color: $color-main-reverse, $amount: 5);
    flex: 2 1 auto;

    &__result,
    &__buttons,
    &__group {
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    &__group {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        position: relative;
        padding: 77px 40px;
        margin-bottom: 20px;
    }

    &__group-headlines {
        position: absolute;
        top: -3px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 20px;
        background: darken($color: $color-main-reverse, $amount: 5);
        font-size: 1.5rem;
        letter-spacing: 0.2em;
        font-weight: 700;
    }

    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin-bottom: 0;
    }
}

.edit-select__input input {
    line-height: 1;
}