.edit-profile {
    padding: 0 25px;

    &__header {
        margin-bottom: 15px;
    }

    &__headline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__body {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
    }
}

.edit-profile-form {
    display: grid;
    grid-gap: 50px;
    padding: 20px;

    &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 34px;
    }

    &__group-headlines {
        position: absolute;
        top: -3px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 20px;
        background: #333030;
        font-size: 1.25rem;
        letter-spacing: 0.05em;
        font-weight: 700;
    }
}