@import '../../utils/vars/vars.scss';

.gallery-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-error {
    font-size: 1.25rem;

    span {
        color: $color-danger;
        letter-spacing: 0.05em;
    }
}