.albums {
    padding: 0 25px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header {
        margin-bottom: 15px;
    }

    &__tab-headline {
        font-size: 1.25rem;
        letter-spacing: .09em;
        margin-bottom: 15px;
    }

    &__activity,
    &__view {
        display: flex;

        > * {
            margin: 0 7px;
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 15px;
    }

    &__tab {
        margin-bottom: 100px;
    }
}