.gallery-header {
    margin-bottom: 15px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__activity, &__view {
        display: flex;
        
        > * {
            margin: 0 7px;
        }
    }
}